@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
}

.data-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 20%;
  max-width: 20%;
  max-height: 100vh;
}

.poi-list-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.data-list-container h2 {
  margin-top: 5px;
  margin-left: 12px;
  white-space: nowrap;
}

.p-inputtext-sm {
  margin: 0px 12px;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map-wrapper {
  position: relative;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
